/* Global styles */

* {
  box-sizing: border-box;
}

body {
  /* Mobile L size */
  width: 425px;

  margin-block: unset;
  margin-inline: auto;

  font-family: sans-serif;
}

section {
  margin-block: 24px;
  margin-inline: 12px;

  padding-block: 8px;
  padding-inline: 8px;

  border-radius: 8px;
  border-width: thin;
  border-style: solid;
  border-color: lightgray;

  box-shadow: 8px 8px 32px lightgray;
  background-color: whitesmoke;
}

footer {
  font-family: monospace;
  text-align: center;
  margin-block: 48px;
  color: gray;
}

/* Utilities */

.hide {
  display: none;
}

/* Others */

h1+p {
  font-size: 20px;
}

p>code {
  color: darkred;
}

p+p>code {
  color: darkviolet;
}