/* Global styles */

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

body {
  width: 512px;

  margin-block: unset;
  margin-inline: auto;
  padding: 16px;

  font-family: sans-serif;
}

main {
  padding-block: 8px;
  padding-inline: 8px;

  border-radius: 8px;
  border-width: thin;
  border-style: solid;
  border-color: lightgray;

  box-shadow: 8px 8px 32px lightgray;
  background-color: whitesmoke;
}

footer {
  font-family: monospace;
  text-align: center;
  margin-block: 48px;
  color: gray;
}

/* Utilities */

.hide {
  display: none;
}

/* Paragraph */

.paragraph-green,
.paragraph-red,
.paragraph-violet {
  text-align: center;
}

.paragraph-green {
  color: darkgreen;
}

.paragraph-red {
  color: darkred;
}

.paragraph-violet {
  color: darkviolet;
}

/* Link */

.link {
  font-weight: bold;
  font-style: italic;
  color: darkred;
}

.link-container {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}

/* List */

.list-main a {
  color: darkviolet;
}

.list-main>li>a {
  color: darkgreen;
}

.list-main .list {
  list-style-type:none;
}

.list-main>li:last-child>.list{
  list-style-type: square;
}

.list-main>li:last-child a {
  text-decoration: none;
}